@model IEnumerable<activity_tracker.Models.Activities>
@{
    ViewData["Title"] = "Home Page";
}

<h1>all activities</h1>
<a asp-action="add">add new activity</a>

<table class="table">
    <thead>


        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var activities in Model)
        {

            <tr>
                <td>@activities.Name</td>
                <td>@activities.Date</td>
            </tr>
        }


    </tbody>

</table>
